body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toggle {
  @apply bg-transparent flex cursor-pointer min-w-[40px] h-[40px] flex-col items-center justify-center gap-[5px]  rounded-[10px];
}

.toggle div {
  background-color: #3BD442;
  height: 2px;
  width: 25px;
  transition: all 0.4s ease;
  margin-top: 5px 0;
}

.toggle.open .first {
  transform: rotate(-45deg) translate(1px, 11px);
  margin-right: 15px;
}

.toggle.open .second {
  opacity: 0;
}

.toggle.open .third {
  transform: rotate(45deg) translate(1px, -11px);
  margin-right: 15px;
}
